<h1> <%= queen.name %>  </h1>
<h5>"<%= queen.quote %>"</h5>
<p>Season: <%= queen.seasons[0].id %>, Place: <%=queen.seasons[0].place %></p>
<p>Lipsyncs:</p>
<ul>
<% queen.lipsyncs.forEach(function(lipsync) { %>
  <li>"<%= lipsync.name %>" - <%= lipsync.artist %></li>
 <% }); %>
</ul>
<div class="row">
<div class="col s12 m5 offset-m1">
<h5>Upcoming Events</h5>
  <% events.forEach(function(event) { %>
  <div class="row">
       <div class="card">
         <div class="card-image">
           <img src="<%= event.logo.url %>">
           <span class="card-title"><%= event.name.text %></span>
         </div>
         <div class="card-action">
           <a href="<%= event.url %>">View Event</a>
         </div>
       </div>
   </div>
     <% }); %>
</div>


<div class="col s12 m5 offset-m1">
<h5>Lipsync Videos</h5>

       <div class="row">
         <% videos.items.forEach(function(video) { %>
              <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.id.videoId %>" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
              <br>
                <% }); %>
            </div>
        </div>

          </div>
</div>
